body{
	width:100%;
    background-image:url("image.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    opacity: .9;
    font-family:'Helvetica';
	max-width: 1000px;
	margin: auto;
    padding: 50px;
	border-color: blue;
    border-radius: 5px;
    
}
.nextButton:hover{
 	background-color:#00aaff; 
    color: white; 
    border: 2px  blue;
}


h1 {
	font-size: 30px;
	padding: .25em 0 .25em 25px;
    background-size: 20px 20px;
    font-family:'Helvetica';
    color: 	coral	;
    margin-left: 150px;
}

.nextButton{
	box-shadow: 7px 7px 7px white;
    border-radius: 0px;
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: #00284d;
    font-family:'Helvetica';
    margin-left: 800px;
    margin: auto;
    padding-top: 3px;
    cursor: pointer;
    margin-left: 80px;
}


.firstQuiz {
    background-color:#cce6ff;
    border-radius: 0px;
    width: 85%;
    margin: auto;
    margin-top: 200px;
    padding-top: 20px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px white;
    position: relative;
}

.question {
    font-family:'Helvetica';
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    background-color:	#00aaff;
    color: 	white;
    text-align: center;
    margin-bottom: 60px
}

.error {
    background-color: peachpuff;
    border-radius: 6px;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-family:'Helvetica';
    color:black;
    height:40px;
    font-size: 180%;
}

.options {
    font-family: 'Helvetica';
    color: 	 #00284d;
    font-size: 1.2em;
    align-items: left;
    margin-top: 50px;
}

#fillup{
	height:20px;
	width: 180px;
	font-size: 18px;
	margin-left: 320px
}
ul {
    list-style: none;
}

li {
    font-family:'Helvetica', serif;
    font-size: 1.5em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}


.explanation{
    background-color: #B5FF52;
    margin: auto;
    text-align: center;
    font-family:'Helvetica';
    font-size: 20px;
    width: 80%;
    border-radius: 5px;

}
.result{
    width: 100%;
    height: 90px;
    font-family: 'Helvetica';
    text-align: center;
   
    margin-top: 20px;
    font-size: 60px;
}


/* End of Quiz Classes */
